.App {
  text-align: center;
}

.App > h1{
  margin: 3rem auto;
  padding: 2rem auto 10rem auto;
}

.error{
  color: red;
  display: flex;
  justify-self: start;
}

.main-container{
  margin: 8rem auto 5rem auto !important;
}

.inv_row_b, .inv_row_c, .inv_row_i{
  border: 1px solid transparent;
  border-radius: 10px;
  width: auto;
  height: 5rem;
  font-size: 1em;
  font-weight: 700;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inv_row_b{
  background-color: rgba(172, 255, 255, 0.801);
} 

.inv_row_c{
  background-color: rgba(255, 172, 212, 0.801);
} 

.inv_row_i{
  background-color: rgba(172, 255, 209, 0.801);
}

